@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* common shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}
.primary-header {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.primary-text {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.primary-btn {
  border-radius: 8px;
  background: #ff5400;
  padding: 15px 25px;
  border: none;
  color: #fff;
  /* text-align: center; */
  font-size: 20px;
  font-weight: 800;
}
.secondary-header {
  padding: 32px 0 16px 0;
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

/* banner style start */
.banner {
  text-align: center;
  padding: 106px 0;
  background-image: url('../Images/banner.png'),
    linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  background-blend-mode: multiply;
}
.banner h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 24px;
}
.banner p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 48px;
}
.banner-form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 185px;
  padding: 16px;
  gap: 24px;
  display: inline-flex;
}
.banner input[type='text'],
select {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  outline: none;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  padding-left: 16px;
}
.banner input[type='submit'] {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
.input-icon {
  position: relative;
}
.input-icon i {
  position: absolute;
  left: 25px;
  top: 18px;
  width: 24px;
  height: 24px;
  color: #fff;
}
/* banner style end */

/* popular tour section style start */
.popular-tour {
  display: flex;
  justify-content: space-between;
  gap: 53px;
  margin: 100px auto;
  /* align-items: center; */
}
.popular-tour-content p {
  padding: 24px 0;
}
.popular-tour-content ul li {
  margin: 16px;
}

/* destination section styles start */
.destination-content {
  text-align: center;
}
.destination-content p {
  padding: 24px 0 48px 0;
}
.destination-box {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
  background-blend-mode: multiply;
}
#box-1 {
  background-image: url('../Images/maldives.png');
  background-size: cover;
  background-position: center;
}
#box-2 {
  background-image: url('../Images/indonesia.png');
  background-size: cover;
  background-position: center;
}

#box-1,
#box-2 {
  grid-column: span 6;
  height: 300px;
  /* width: 573px; */
}
#box-3 {
  grid-column: span 4;
  height: 286px;
  /* width: 374px; */
  background-image: url('../Images/srilanka.png');
  background-size: cover;
  background-position: center;
}
#box-4 {
  grid-column: span 5;
  height: 286px;
  /* width: 474px; */
  background-image: url('../Images/north-america.png');
  background-size: cover;
  background-position: center;
}
#box-5 {
  grid-column: span 3;
  height: 286px;
  /* width: 274px; */
  background-image: url('../Images/kashmir-responsive.jpg');
  background-size: cover;
  background-position: center;
}
#box-6 {
  grid-column: span 5;
  height: 300px;
  /* width: 473px; */
  background-image: url('../Images/bangladesh.png');
  background-size: cover;
  background-position: center;
}
#box-7 {
  grid-column: span 7;
  height: 300px;
  /* width: 673px; */
  background-image: url('../Images/bandarban.png');
  background-size: cover;
  background-position: center;
}
/* destination section styles end */

/* service section styles start */
.service-content {
  margin-top: 100px;
  margin-bottom: 48px;
  text-align: center;
}
.hotel-service {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
  grid-area: hotel;
}
.world-class-service {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  grid-area: map;
}
.best-price-service {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  grid-area: price;
}
.service-card {
  display: grid;
  gap: 24px;
  grid-template-areas:
    'hotel hotel map map'
    '.     price price   .';
}

.service-content p {
  padding-top: 24px;
}
/* service section styles end */

/* newsletter section style start */
.newsletter {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 100px;
  /* max-height: 422px; */
}
.newsletter-form {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 0 40px 40px 40px;
}
.newsletter-form form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.newsletter-form input[type='text'] {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
  padding: 16px 0 16px 20px;
}
.newsletter-form input[type='email'] {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
  padding: 16px 0 16px 20px;
}
.newsletter-form input[type='submit'] {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border: none;
  padding: 15px 0;
}
.newsletter-img {
  position: relative;
}
.newsletter-img span {
  position: absolute;
  bottom: 55px;
  right: 10px;
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  text-align: center;
}
.newsletter-img p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 20px;
}
.newsletter-img h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
