@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* banner style start */
.banner {
  text-align: center;
  padding: 106px;
  background-image: url('../Images/banner.png'),
    linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-blend-mode: multiply;
  height: 100%;
}
.banner h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 24px;
}
.banner p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 48px;
}
.banner-form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 185px;
  padding: 16px;
  gap: 24px;
  display: inline-flex;
}
input[type='text'],
select {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  outline: none;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  padding-left: 16px;
}
input[type='submit'] {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
.input-icon {
  position: relative;
}
.input-icon i {
  position: absolute;
  left: 25px;
  top: 18px;
  width: 24px;
  height: 24px;
  color: #fff;
}
