@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}
.primary-header {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.primary-text {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.primary-btn {
  border-radius: 8px;
  background: #ff5400;
  padding: 15px 25px;
  border: none;
  color: #fff;
  /* text-align: center; */
  font-size: 20px;
  font-weight: 800;
}

/* banner style start */
.banner {
  text-align: center;
  padding: 106px 0;
  background-image: url('../Images/banner.png'),
    linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  background-blend-mode: multiply;
}
.banner h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 24px;
}
.banner p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 48px;
}
.banner-form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 185px;
  padding: 16px;
  gap: 24px;
  display: inline-flex;
}
input[type='text'],
select {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  outline: none;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  padding-left: 16px;
}
input[type='submit'] {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
.input-icon {
  position: relative;
}
.input-icon i {
  position: absolute;
  left: 25px;
  top: 18px;
  width: 24px;
  height: 24px;
  color: #fff;
}
/* banner style end */

/* popular tour section style start */
.popular-tour {
  display: flex;
  justify-content: space-between;
  gap: 53px;
  margin: 100px auto;
  /* align-items: center; */
}
.popular-tour-content p {
  padding: 24px 0;
}
.popular-tour-content ul li {
  margin: 16px;
}

/* destination section styles start */
.destination-content {
  text-align: center;
}
.destination-content p {
  padding: 24px 0 48px 0;
}
.destination-box {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
  background-blend-mode: multiply;
}
#box-1 {
  background-image: url('../Images/maldives.png');
  background-size: cover;
  background-position: center;
}
#box-2 {
  background-image: url('../Images/indonesia.png');
  background-size: cover;
  background-position: center;
}

#box-1,
#box-2 {
  grid-column: span 6;
  height: 300px;
  /* width: 573px; */
}
#box-3 {
  grid-column: span 4;
  height: 286px;
  /* width: 374px; */
  background-image: url('../Images/srilanka.png');
  background-size: cover;
  background-position: center;
}
#box-4 {
  grid-column: span 5;
  height: 286px;
  /* width: 474px; */
  background-image: url('../Images/north-america.png');
  background-size: cover;
  background-position: center;
}
#box-5 {
  grid-column: span 3;
  height: 286px;
  /* width: 274px; */
  background-image: url('../Images/kashmir-responsive.jpg');
  background-size: cover;
  background-position: center;
}
#box-6 {
  grid-column: span 5;
  height: 300px;
  /* width: 473px; */
  background-image: url('../Images/bangladesh.png');
  background-size: cover;
  background-position: center;
}
#box-7 {
  grid-column: span 7;
  height: 300px;
  /* width: 673px; */
  background-image: url('../Images/bandarban.png');
  background-size: cover;
  background-position: center;
}
/* destination section styles end */

/* service section styles start */
